.box1{
  padding: .5em;
}

.box2{
  margin-bottom: .5em;
}


body{
  background-color: #e74c3c;
  color: #ecf0f1;
  text-align: center;
}

.button-main {
  color: #e74c3c;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #ecf0f1;
}

.the-count{
  font-size: 1.4em;
  font-weight: 800;
  background-color: #ecf0f1;
  color: #e74c3c;
  padding: 2px;
  margin-right: 1em;
}

.count-label{
  font-size: .9em;
}